.ademas{
	background-color: $violeta;
	padding-bottom: 50px;

	.iconoc{
		@include icono($cyan);
	}

	article{
		h2{
			@include h2(white);
			font-size: 31px;
		}

		img{
		    width: 55%;
		    margin-top: 15px;
		    margin-left: 3px;
		}
	}

	.atencion{
		background-color: white;
		padding: 0px 50px 30px 50px;
		text-align: center;

		.ion-arrow-left-b{
			color: white;
		    font-size: 40px;
		    position: relative;
		    top: 9px;
		    left: -173px;
		}

		h3{
			@include h3(#231F20);
			display: inline-block;
			padding-top: 15px;
			padding-bottom: 15px;
		}

		.ademasServicios{
			article{
				border: 3px solid $violeta;
				width:31%;
				height: 120px;
				display: inline-block;
				vertical-align: middle;
				margin:5px;

				h4{
					@include h3(white);
					font-size: 16px;
					background-color: $violeta;
					margin:0px;
					padding-top: 8px;
					padding-bottom: 8px;

					a{
						text-decoration: none;
						color: white;
					}
				}

				p{
					@include p(#58585B, 12px);
					padding: 15px;
				}
			}
		}

		.ademasServiciosII{
			margin-top: 20px;
		}
	}
}

/*Media Queries*/

@media (max-width: 1200px){
	.ademas{	
		.atencion{
			.ion-arrow-left-b{
				position: relative;
    			left: -98px;
			}
		}
	}
}

@media (max-width: 991px){
	.ademas{
		article{
			h2{
				margin-bottom: 35px;
			}

			img{
			    display: none;
			}
		}

		.atencion{
			.ion-arrow-left-b{
				position: relative;
    			left: -105px;
			}

			.ademasServicios{
				article{
					width:45%;
					height: 100px;
				}
			}
		}
	}
}

@media (max-width: 690px){
	.ademas{
		.atencion{
			h3{
				font-size: 16px;
			}
		}
	}
}

@media (max-width: 560px){
	.ademas{
		.atencion{
			.ion-arrow-left-b{
				display: none;
			}

			h3{
				font-size: 16px;
			}

			.ademasServicios{
				article{
					width:90%;
					height: 80px;
				}
			}
		}
	}
}

@media (max-width: 468px){
	.ademas{
		.atencion{
			.ademasServicios{
				article{
					height: 85px;

					h4{
						padding-top: 3px;
						padding-bottom: 3px;
					}

					p{
						padding: 10px;
					}
				}
			}
		}
	}
}